
:root {
    --cinzaBackground: #F6F6F6;
    --cinzaInput: #f7f7f7;
    --verde: #0FCD0B;
    --azul: #5546fd;
    --amarelo: #ffd640;
    --vermelho: #ff4646;
    --cinzaTexto: #171717;
    --cinzaTexto2: #363636;
    --cinzaDismiss: #dddddd;
}

body {
    background-color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
}

.head-bar {
    width: 100%;
    background-color: white;
    height: 110px;

    

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);;
}

.head-bar div {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 24px 16px 24px 16px;
}

span {
    padding: 10px;
    background-color: var(--verde);
    border-radius: 100%;
    color: white;
    font-size: 40px !important;
    margin: 24px 16px 24px 16px;
}

a {
    text-decoration: none;
}

.cartao {
    color: #000;
    margin: 24px 16px 16px 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.cartao-titulo {
    margin: 16px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 24px;
}

.cartao-endereco {
    margin-left: 16px;
    font-size: 16px;
}

.cartao-dica {
    margin: 24px 16px 0px 16px;
    font-size: 12px;
    color: #5C5C5C;
}

.verde {
    background-color: var(--verde);
}

.azul {
    background-color: var(--azul);
}

.amarelo {
    background-color: var(--amarelo);
}

.vermelho {
    background-color: var(--vermelho);
}

.cinza-claro {
    background-color: var(--cinzaDismiss);
}

h2.titulo {
    font-size: 20px;
    color: #363636;
    margin: 24px 16px 0px 16px;
}

h3.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.botao {
    margin: 24px 16px 0px 16px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
}

.texto-botao-branco {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.texto-botao-cinza {
    color: var(--cinzaTexto);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.icone-botao {
    background-color: transparent;
    margin: 0 12px 0 0;
    padding: 0;
}

.botao p {
    align-self: center;
}

.formulario-interno {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.form-wrapper div {
    display: flex;
    flex-direction: column;
}

.form-wrapper div:not(:first-child) {
    margin-top: 16px;
}

.formulario-interno label {
    font-weight: 550;
}

.formulario-interno input {
    margin-top: 8px;
    border: none;
    border-bottom: 2px solid #838383;
    height: 36px;
    font-size: 18px;
    border-radius: 4px 4px 0px 0px;
    background-color: var(--cinzaInput);
}

.formulario-interno button {
    margin-top: 24px;
    padding: 16px 0px;
    outline: none;
    border: none;
    background-color: var(--verde);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.flashed-alert {
    color: red;
}

.span-erro {
    color: red;
    margin-top: 8px;
}

.flex {
    display: flex;
}

.input-error {
    border-color: red;
}

.modal-exclusao {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.aviso-modal {
    margin: 16px;
    font-size: 18px;
    text-align: center;
}

.modal-destaque {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.minicard {
    display: flex;
    justify-content: space-between;
}

.minicard div{
    align-self: center;
}

.minicard div:first-child{
    margin-left: 16px;
}

.minicard div:last-child{
    margin-right: 16px;
}

.minicard-icon {
    font-size: 30px !important;
    color: var(--verde);
    background-color: white;
    margin: 0;
    padding: 0;
}

.minicard-titulo {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.minicard-subtitulo {
    font-size: 16px;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -240px;
}

.footer,
.push {
  height: 240px;
}

.push {
    margin-bottom: 60px;
}

.footer {
    width: 100%;
    background-color: white;
    text-align: center;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.06);
}

.titulo-rodape {
    font-size: 16px;
    padding-top: 16px;
    color: var(--cinzaTexto2);
}

.dev-rodape {
    font-size: 14px;
    margin-top: 8px;
}

.redes-rodape {
    margin-top: 8px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.instituto-rodape {
    font-size: 14px;
    margin-top: 16px;
}

.icone-rodape {
    color: black;
    font-size: 28px !important;
    margin: 0;
    padding: 0;
    background-color: white;
}

.icone-rodape:first-child, .git-rodape {
    margin-right: 8px;
}

.icone-rodape:last-child {
    margin-right: 0;
}

.logo-if {
    margin-top: 8px;
}