:root {
    --cinzaBackground: #F6F6F6;
    --verde: #0FCD0B;
}

body, html {
    height: 100%;
    background-color: var(--cinzaBackground);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.corpo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 64px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 24px 20px;
}

.form-wrapper div {
    display: flex;
    flex-direction: column;
}

.form-wrapper div:not(:first-child) {
    margin-top: 16px;
}

label {
    font-weight: 600;
}

input {
    margin-top: 4px;
    border: none;
    border-bottom: 2px solid #838383;
    height: 36px;
    font-size: 18px;
    outline: none;
}

a {
    color: var(--verde);
    margin-top: 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

button {
    margin-top: 24px;
    padding: 16px 0px;
    outline: none;
    border: none;
    background-color: var(--verde);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.flashed-alert {
    color: red;
}

.flash-sucesso {
    border-color: rgb(31, 117, 23);
    background-color: rgb(214, 255, 210);
    color: rgb(31, 117, 23);
}

.flash-falha {
    border-color: #d83e3e;
    background-color: #ffd7d7;
    color: #d83e3e;
}

.flash-alerta {
    border-color: #857100;
    background-color: #faf4d0;
    color: #857100;
}

.span-erro {
    color: red;
    margin-top: 8px;
}

.input-error {
    border-color: red;
}

h3.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

@media only screen and (min-width: 767px) {
    .corpo {
        margin: 0 auto;
        max-width: 500px;
    }

    .corpo form {
        border-radius: 5px;
    }
}