<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block estilo %}
        
    {% endblock estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Gerenciamento financeiro</title>
</head>
<body>
    <div id="sidebar-box">
        <div class="sidebar-bar">
            <div>
                <span id="menu-back" class="material-icons">arrow_back</span>
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo do sistema">
                <a href="#" id="despesas">Despesas</a>
                <a href="#">Vendas</a>
                <a href="{{ url_for('producao') }}">Produções</a>
                <a href="{{ url_for('cliente') }}">Clientes</a>
                <a href="#">Fornecedores</a>
                <a href="{{ url_for('propriedades') }}">Propriedades</a>
            </div>
            <div>
                <a href="{{ url_for('logout') }}" class="logout">Sair do sistema</a>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="head-bar">
            <div>
                <h1>{% block titulo %}{% endblock titulo %}</h1>
                <span class="material-icons" id="menu">menu</span>
            </div>
        </div>
    
        {% block corpo %}
            
        {% endblock corpo %}
        <div class="push"></div>
    </div>
    
    <footer class="footer">
        <p class="titulo-rodape">Desenvolvimento</p>
        <p class="dev-rodape">Pedro Luís Ferronato Barreto</p>
        <div class="redes-rodape">
            <a href=""><span class="material-icons icone-rodape">phone</span></a>
            <a href=""><img class="git-rodape" src="{{ url_for('static', filename='images/github.png') }}" alt="Logo GitHub"></a>
            <a href=""><span class="material-icons icone-rodape">mail</span></a>
        </div>
        <p class="instituto-rodape">IFRO - Campus Vilhena</p>
        <img class="logo-if" src="{{ url_for('static', filename='images/logo-if.png') }}" alt="Logo IFRO">
    </footer>


    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

    {% block codigo %}
        
    {% endblock codigo %}
</body>
</html>