{% extends 'base.html' %}

{% block titulo %}
    Clientes
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Buscar cliente</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('cliente_busca_resultado') }}" method="get">
        <div class="form-wrapper">
            <div class="form-flex-desktop">
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" autocomplete="off" value="{{ nome }}">
                </div>
                <div>
                    <label for="contato">Contato:</label>
                    <input type="text" name="contato" id="contato" autocomplete="off" value="{{ contato }}">
                </div>
            </div>
        
            <button>{{ botao }}</button>
        </div>
    </form>
</div>

{% if clientes %}
    {% for cliente in clientes %}
        <a href="{{ url_for('cliente_detalhes', cliente_id=cliente.id) }}">
            <div class="cartao minicard">
                <div>
                    <p class="minicard-titulo">{{ cliente.nome }}</p>
                    <p class="minicard-subtitulo">{{ cliente.contato }}</p>
                </div>
                <div>
                    <span class="material-icons minicard-icon">description</span>
                </div>
            </div>
        </a>
    {% endfor %}
{% endif %}

{% if pages %}
    {% for resultado in pages.items %}
    <a href="{{ url_for('cliente_detalhes', cliente_id=cliente.id) }}">
        <div class="cartao minicard">
            <div>
                <p class="minicard-titulo">{{ resultado.nome }}</p>
                <p class="minicard-subtitulo">{{ resultado.contato }}</p>
            </div>
            <div>
                <span class="material-icons minicard-icon">description</span>
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="paginador">
        {% for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if pages.page == page_num %}
                    <a class="paginador-botao paginador-atual" href="{{ url_for('cliente_busca_resultado', page=page_num, nome=nome, contato=contato) }}">{{ page_num }}</a>
                {% else %}
                    <a class="paginador-botao" href="{{ url_for('cliente_busca_resultado', page=page_num, nome=nome, contato=contato) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% endblock corpo %}