{% extends 'base.html' %}

{% block titulo %}
    Clientes
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Cinco clientes que mais geraram renda</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
{% endblock corpo %}