{% extends 'base.html' %}

{% block titulo %}
    Clientes
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Cinco clientes que mais geraram renda</h2>

<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
<div class="cartao minicard">
    <div>
        <p class="minicard-titulo">Pedro Luís Ferronato Barreto</p>
        <p class="minicard-subtitulo">(69) 99602-1323</p>
    </div>
    <div>
        <span class="material-icons minicard-icon">description</span>
    </div>
</div>
{% endblock corpo %}