{% extends 'base.html' %}

{% block titulo %}
    Despesas
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Registrar compra</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('despesas_compra') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-wrapper">
            <div class="form-flex-desktop">
                <div>
                    <label for="{{ form.insumo.label.field_id }}">{{ form.insumo.label.text }} *</label>
                    {% if form.insumo.errors %}
                        {{ form.insumo(class="input-error", autocomplete="off") }}
                        {% for error in form.insumo.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.insumo(autocomplete="off") }}
                    {% endif %}
                </div>
                <div>
                    <label for="data-fornecedor">Fornecedor: *</label>
                    <input autocomplete="off" name="data-fornecedor" id="data-fornecedor" list="forne" 
                    placeholder="Busque aqui">
                    <datalist name="forne" id="forne">
                        {% for fornecedor in fornecedores %}
                            <option value="{{ fornecedor.nome }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            
            <div class="form-flex-desktop">
                <div>
                    <label for="{{ form.finalidade.label.field_id }}">{{ form.finalidade.label.text }} *</label>
                    {% if form.finalidade.errors %}
                        {{ form.finalidade(class="input-error") }}
                        {% for error in form.finalidade.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.finalidade }}
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.data.label.field_id }}">{{ form.data.label.text }} *</label>
                    {% if form.data.errors %}
                        {{ form.data(class="input-error campo-data") }}
                        {% for error in form.data.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.data(class="campo-data") }}
                    {% endif %}
                </div>
            </div>
            
            <div class="form-flex-desktop">
                <div>
                    <label for="{{ form.valor_unitario.label.field_id }}">{{ form.valor_unitario.label.text }} *</label>
                    {% if form.valor_unitario.errors %}
                        {{ form.valor_unitario(class="input-error") }}
                        {% for error in form.valor_unitario.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.valor_unitario(placeholder="00.00") }}
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.quantidade.label.field_id }}">{{ form.quantidade.label.text }} *</label>
                    {% if form.quantidade.errors %}
                        {{ form.quantidade(class="input-error") }}
                        {% for error in form.quantidade.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.quantidade(placeholder="0") }}
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.unidade.label.field_id }}">{{ form.unidade.label.text }} *</label>
                    {% if form.unidade.errors %}
                        {{ form.unidade(class="input-error") }}
                        {% for error in form.unidade.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.unidade }}
                    {% endif %}
                </div>
            </div>
            
            <div class="form-flex-desktop">
                <div>
                    {{ form.desconto.label }}
                    {% if form.desconto.errors %}
                        {{ form.desconto(class="input-error") }}
                        {% for error in form.desconto.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.desconto }}
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.valor_total.label.field_id }}">{{ form.valor_total.label.text }} *</label>
                    {% if form.valor_total.errors %}
                        {{ form.valor_total(class="input-error") }}
                        {% for error in form.valor_total.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.valor_total(placeholder="00.00") }}
                    {% endif %}
                </div>
            </div>

            <div class="cp-obrigatorio">
                <p>* Campo obrigatório</p>
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>
{% endblock corpo %}

{% block codigo %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/valorTotalCompra.js') }}"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
{% endblock codigo %}