{% extends 'base.html' %}

{% block titulo %}
    Despesas
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Registrar compra</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('despesas_compra') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-wrapper">
            <div>
                {{ form.insumo.label }}
                {% if form.insumo.errors %}
                    {{ form.insumo(class="input-error") }}
                    {% for error in form.insumo.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.insumo }}
                {% endif %}
            </div>
            <div>
                {{ form.fornecedor.label }}
                {% if form.fornecedor.errors %}
                    {{ form.fornecedor(class="input-error") }}
                    {% for error in form.fornecedor.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.fornecedor }}
                {% endif %}
            </div>
            <div>
                {{ form.finalidade.label }}
                {% if form.finalidade.errors %}
                    {{ form.finalidade(class="input-error") }}
                    {% for error in form.finalidade.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.finalidade }}
                {% endif %}
            </div>
            <div>
                {{ form.data.label }}
                {% if form.data.errors %}
                    {{ form.data(class="input-error") }}
                    {% for error in form.data.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.data }}
                {% endif %}
            </div>
            <div>
                {{ form.valor_unitario.label }}
                {% if form.valor_unitario.errors %}
                    {{ form.valor_unitario(class="input-error") }}
                    {% for error in form.valor_unitario.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.valor_unitario(placeholder="00.00") }}
                {% endif %}
            </div>
            <div>
                {{ form.quantidade.label }}
                {% if form.quantidade.errors %}
                    {{ form.quantidade(class="input-error") }}
                    {% for error in form.quantidade.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.quantidade(placeholder="0") }}
                {% endif %}
            </div>
            <div>
                {{ form.unidade.label }}
                {% if form.unidade.errors %}
                    {{ form.unidade(class="input-error") }}
                    {% for error in form.unidade.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.unidade }}
                {% endif %}
            </div>
            <div>
                {{ form.desconto.label }}
                {% if form.desconto.errors %}
                    {{ form.desconto(class="input-error") }}
                    {% for error in form.desconto.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.desconto }}
                {% endif %}
            </div>
            <div>
                {{ form.valor_total.label }}
                {% if form.valor_total.errors %}
                    {{ form.valor_total(class="input-error") }}
                    {% for error in form.valor_total.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.valor_total(placeholder="00.00") }}
                {% endif %}
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>
{% endblock corpo %}

{% block codigo %}
<script src="{{ url_for('static', filename='js/valor_total_compra.js') }}"></script>
{% endblock codigo %}