{% extends 'base.html' %}

{% block titulo %}
    Despesas
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Histórico de compras</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('despesas_compra_historico_resultado') }}" method="get">
        <div class="form-wrapper">
            <div class="form-flex-desktop">
                <div>
                    <label for="data_fornecedor">Fornecedor:</label>
                    <input autocomplete="off" name="data_fornecedor" id="data_fornecedor" list="forne" 
                    placeholder="Busque aqui", value="{{ fornecedor_busca }}">
                    <datalist name="forne" id="forne">
                        {% for fornecedor in fornecedores %}
                            <option value="{{ fornecedor.nome }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>
                    {{ form.data_inicio.label }}
                    {% if form.data_inicio.errors %}
                        {{ form.data_inicio(class="input-error campo-data") }}
                        {% for error in form.data_inicio.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.data_inicio(class="campo-data") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.data_final.label }}
                    {% if form.data_final.errors %}
                        {{ form.data_final(class="input-error campo-data") }}
                        {% for error in form.data_final.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.data_final(class="campo-data") }}
                    {% endif %}
                </div>
            </div>
            
            <button>{{ botao }}</button>
        </div>
    </form>
</div>

{% if compras %}
    {% for compra in compras %}
    <a href="{{ url_for('compra_detalhe', compra_id=compra.id) }}">
        <div class="cartao minicard">
            <div>
                <p class="minicard-titulo">{{ compra.get_insumo().nome }}</p>
                <p class="minicard-subtitulo">{{ compra.data.strftime('%d/%m/%Y') }}</p>
                <p class="minicard-subtitulo">{{ compra.get_insumo().valor_final_formatado() }}</p>
            </div>
            <div>
                <span class="material-icons minicard-icon">description</span>
            </div>
        </div>
    </a>
    {% endfor %}
{% endif %}

{% if pages %}
    {% for compra in pages.items %}
    <a href="{{ url_for('compra_detalhe', compra_id=compra.id) }}">
        <div class="cartao minicard">
            <div>
                <p class="minicard-titulo">{{ compra.get_insumo().nome }}</p>
                <p class="minicard-subtitulo">{{ compra.data.strftime('%d/%m/%Y') }}</p>
                <p class="minicard-subtitulo">{{ compra.get_insumo().valor_final_formatado() }}</p>
            </div>
            <div>
                <span class="material-icons minicard-icon">description</span>
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="paginador">
        {% for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if pages.page == page_num %}
                    <a class="paginador-botao paginador-atual" href="{{ url_for('despesas_compra_historico_resultado', page=page_num, data_fornecedor=fornecedor_busca, data_inicio=form.data_inicio.data, data_final=form.data_final.data) }}">{{ page_num }}</a>
                {% else %}
                    <a class="paginador-botao" href="{{ url_for('despesas_compra_historico_resultado', page=page_num, data_fornecedor=fornecedor_busca, data_inicio=form.data_inicio.data, data_final=form.data_final.data) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% endblock corpo %}

{% block codigo %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
{% endblock codigo %}