{% extends 'base.html' %}

{% block estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid_recepcao.css') }}">
{% endblock estilo %}

{% block titulo %}
    Despesas
{% endblock titulo %}

{% block corpo %}
    <div class="grid-div">
        <a href="{{ url_for('despesas_compra') }}">
            <div class="grid-card">
                <span class="material-icons grid-icons">add</span>
                <p>Nova compra</p>
            </div>
        </a>
        <a href="">
            <div class="grid-card">
                <span class="material-icons grid-icons">money_off</span>
                <p>Despesas por acidente</p>
            </div>
        </a>
        <a href="">
            <div class="grid-card">
                <span class="material-icons grid-icons">manage_search</span>
                <p>Histórico de compras</p>
            </div>
        </a>
        <a href="">
            <div class="grid-card">
                <span class="material-icons grid-icons">bar_chart</span>
                <p>Despesas por mês</p>
            </div>
        </a>
    </div>
{% endblock corpo %}

