{% extends 'base.html' %}

{% block titulo %}
    Fornecedores
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Buscar fornecedor</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('fornecedor_busca_resultado') }}" method="get">
        <div class="form-wrapper">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" autocomplete="off">
            </div>
            <div>
                <label for="contato">Contato</label>
                <input type="text" name="contato" id="contato" autocomplete="off">
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>

{% if fornecedores %}
    {% for fornecedor in fornecedores %}
    <div class="cartao minicard">
        <div>
            <p class="minicard-titulo">{{ fornecedor.nome }}</p>
            <p class="minicard-subtitulo">{{ fornecedor.contato }}</p>
        </div>
        <div>
            <span class="material-icons minicard-icon">description</span>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% if pages %}
    {% for resultado in pages.items %}
        <div class="cartao minicard">
            <div>
                <p class="minicard-titulo">{{ resultado.nome }}</p>
                <p class="minicard-subtitulo">{{ resultado.contato }}</p>
            </div>
            <div>
                <span class="material-icons minicard-icon">description</span>
            </div>
        </div>
    {% endfor %}
    {% for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if pages.page == page_num %}
                <a class="paginador-botao paginador-atual" href="{{ url_for('cliente_busca', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="paginador-botao" href="{{ url_for('cliente_busca', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock corpo %}