{% extends 'base_anonimo.html' %}

{% block corpo %}
<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo do sistema">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flashed-alert {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            {{ form.usuario.label }}
            {% if form.usuario.errors %}
                {{ form.usuario(class="input-error") }}
                {% for error in form.usuario.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.usuario }}
            {% endif %}
        </div>
        <div>
            {{ form.senha.label }}
            {% if form.senha.errors %}
                {{ form.senha(class="input-error") }}
                {% for error in form.senha.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.senha }}
            {% endif %}
        </div>
        <button>Entrar</button>
    </div>
</form>
<a href="#">Esqueceu a senha?</a>
<a href="{{ url_for('criar_produtor') }}">Criar uma nova conta</a>
{% endblock corpo %}