{% extends 'base.html' %}

{% block titulo %}
    Produções
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Finalizar produção</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="flashed-alert {{ category }}">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<div class="cartao cartao-detalhes">
    <p class="detalhes-titulo">{{ producao.nome }}</p>

    <label>Data de início:</label>
    <p class="detalhes-informacoes">{{ producao.data.strftime('%d/%m/%Y') }}</p>
</div>

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('producao_finalizar', producao_id=producao.id) }}"
        method="post">
        <div class="form-wrapper">
            <div class="form-flex-desktop">
                <div>
                    <label for="data">Confirme a data: *</label>
                    <input autocomplete="off" class="campo-data" name="data" id="data" value="{{ data.strftime('%d/%m/%Y') }}">
                </div>
                <div>
                    <label for="validade">Validade:</label>
                    <input autocomplete="off" class="campo-data" name="validade" id="validade">
                </div>
            </div>
            <div>
                <label for="nome">Produto final: *</label>
                <input autocomplete="off" name="nome" id="nome" value="{{ producao.produto_esperado }}">
            </div>
            <div class="form-flex-desktop">
                <div>
                    <label for="unitario">Valor unitário: *</label>
                    <input autocomplete="off" name="unitario" id="unitario">
                </div>
                <div>
                    <label for="quantidade">Quantidade: *</label>
                    <input autocomplete="off" name="quantidade" id="quantidade" value="{{ producao.quantidade_atual }}">
                </div>
                <div>
                    <label for="medida">Unidade de medida:</label>
                    <input autocomplete="off" name="medida" id="medida">
                </div>
            </div>
            <div class="cp-obrigatorio">
                <p>* Campo obrigatório</p>
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>
{% endblock corpo %}

{% block codigo %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
{% endblock codigo %}