{% extends 'base.html' %}

{% block titulo %}
Produções
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Produções finalizadas</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <p class="flashed-alert {{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('producoes_estoque') }}" method="get">
        {{ form.hidden_tag() }}
        <div class="form-wrapper">
            <div>
                {{ form.nome.label }}
                {% if form.nome.errors %}
                    {{ form.nome(class="input-error") }}
                    {% for error in form.nome.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.nome }}
                {% endif %}
            </div>
            <div>
                {{ form.data_comeco.label }}
                {% if form.data_comeco.errors %}
                    {{ form.data_comeco(class="input-error") }}
                    {% for error in form.data_comeco.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.data_comeco }}
                {% endif %}
            </div>
            <div>
                {{ form.data_coleta.label }}
                {% if form.data_coleta.errors %}
                    {{ form.data_coleta(class="input-error") }}
                    {% for error in form.data_coleta.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.data_coleta }}
                {% endif %}
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>

{% for producao in producoes %}
    <a href="{{ url_for('producao_detalhes', producao_id=producao.id) }}">
        <div class="cartao minicard">
            <div>
                <p class="minicard-titulo">{{ producao.nome }}</p>
                <p class="minicard-subtitulo">Data de início: {{ producao.data.strftime('%d/%m/%Y') }}</p>
                <p class="minicard-subtitulo">Produto: {{ producao.get_insumo_base().nome }}</p>
            </div>
            <div>
                <span class="material-icons minicard-icon">description</span>
            </div>
        </div>
    </a>
{% endfor %}
{% endblock corpo %}