{% extends 'base.html' %}

{% block titulo %}
    Produções
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Criar produção</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('producoes_adicionar') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-wrapper">
            <div>
                <label for="data-insumo">Produto: *</label>
                <input autocomplete="off" name="data-insumo" id="data-insumo" list="produto" 
                placeholder="Busque aqui">
                <datalist name="produto" id="produto">
                    {% for produto in insumos %}
                        <option value="{{ produto.id }} - {{ produto.nome }}">{{ produto.quantidade_estocada_formatada() }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div>
                <label for="{{ form.nome.label.field_id }}">{{ form.nome.label.text }} *</label>
                {% if form.nome.errors %}
                    {{ form.nome(class="input-error") }}
                    {% for error in form.nome.errors %}
                        <span class="span-erro">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.nome }}
                {% endif %}
            </div>
            
            <div class="form-flex-desktop">
                <div>
                    <label for="{{ form.quantidade.label.field_id }}">{{ form.quantidade.label.text }} *</label>
                    {% if form.quantidade.errors %}
                        {{ form.quantidade(class="input-error") }}
                        {% for error in form.quantidade.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.quantidade }}
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.data.label.field_id }}">{{ form.data.label.text }} *</label>
                    {% if form.data.errors %}
                        {{ form.data(class="input-error campo-data") }}
                        {% for error in form.data.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.data(class="campo-data") }}
                    {% endif %}
                </div>
            </div>
            
            <div class="cp-obrigatorio">
                <p>* Campo obrigatório</p>
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>
{% endblock corpo %}

{% block codigo %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
{% endblock codigo %}