{% extends 'base_anonimo.html' %}

{% block corpo %}
<form action="{{ url_for('criar_produtor') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="form-wrapper">
        <h3 class="titulo">Cadastro de conta</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flashed-alert {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            <label for="{{ form.nome.label.field_id }}">{{ form.nome.label.text }} *</label>
            {% if form.nome.errors %}
                {{ form.nome(class="input-error") }}
                {% for error in form.nome.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.nome(autocomplete="off") }}
            {% endif %}
        </div>
        <div>
            <label for="{{ form.login.label.field_id }}">{{ form.login.label.text }} *</label>
            {% if form.login.errors %}
                {{ form.login(class="input-error") }}
                {% for error in form.login.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.login(autocomplete="off") }}
            {% endif %}
        </div>
        <div>
            {{ form.contato.label }}
            {% if form.contato.errors %}
                {{ form.contato(class="input-error") }}
                {% for error in form.contato.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.contato }}
            {% endif %}
        </div>
        <div>
            <label for="{{ form.senha.label.field_id }}">{{ form.senha.label.text }} *</label>
            {% if form.senha.errors %}
                {{ form.senha(class="input-error") }}
                {% for error in form.senha.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.senha }}
            {% endif %}
        </div>
        <div>
            <label for="{{ form.confirmar_senha.label.field_id }}">{{ form.confirmar_senha.label.text }} *</label>
            {% if form.confirmar_senha.errors %}
                {{ form.confirmar_senha(class="input-error") }}
                {% for error in form.confirmar_senha.errors %}
                    <span class="span-erro">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.confirmar_senha }}
            {% endif %}
        </div>
        <div class="cp-obrigatorio">
            <p>* Campo obrigatório</p>
        </div>
        <button>Registrar</button>
    </div>
</form>
{% endblock corpo %}