{% extends 'base.html' %}

{% block titulo %}
Produções
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Produções ativas</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <p class="flashed-alert {{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

{% for producao in producoes %}
    <a href="{{ url_for('producao_detalhes', producao_id=producao.id) }}">
        <div class="cartao minicard">
            <div>
                <p class="minicard-titulo">{{ producao.nome }}</p>
                <p class="minicard-subtitulo">Data de início: {{ producao.data.strftime('%d/%m/%Y') }}</p>
                <p class="minicard-subtitulo">Produto: {{ producao.get_insumo_base().nome }}</p>
            </div>
            <div>
                <span class="material-icons minicard-icon">description</span>
            </div>
        </div>
    </a>
{% endfor %}

{% endblock corpo %}