{% extends 'base.html' %}

{% block titulo %}
Produções
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Adicionar custeio</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="flashed-alert {{ category }}">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<div class="cartao cartao-detalhes">
    <p class="detalhes-titulo">{{ producao.nome }}</p>

    <label>Data de início:</label>
    <p class="detalhes-informacoes">{{ producao.data.strftime('%d/%m/%Y') }}</p>

    {% if producao.data_coleta %}
    <label>Data de coleta:</label>
    <p class="detalhes-informacoes">{{ producao.data_coleta.strftime('%d/%m/%Y') }}</p>
    {% endif %}

    <label>Estado da produção:</label>
    {% if producao.ativa %}
    <p class="detalhes-informacoes">Em andamento</p>
    {% else %}
    <p class="detalhes-informacoes">Finalizada</p>
    {% endif %}
</div>

<div class="cartao">
    <form class="formulario-interno" action="{{ url_for('producao_adicionar_custeio', producao_id=producao_id) }}"
        method="post">
        <div class="form-wrapper">
            <div>
                <label for="data-insumo">Produto: *</label>
                <input autocomplete="off" name="data-insumo" id="data-insumo" list="produto" placeholder="Busque aqui">
                <datalist name="produto" id="produto">
                    {% for produto in insumos %}
                    <option value="{{ produto.id }} - {{ produto.nome }}">{{ produto.quantidade_estocada_formatada() }}
                    </option>
                    {% endfor %}
                </datalist>
            </div>
            <div>
                <label for="quantidade">Quantidade: *</label>
                <input autocomplete="off" type="number" name="quantidade" id="quantidade">
            </div>
            <div>
                <label for="data">Data: *</label>
                <input autocomplete="off" class="campo-data" name="data" id="data">
            </div>
            <div class="cp-obrigatorio">
                <p>* Campo obrigatório</p>
            </div>
            <button>{{ botao }}</button>
        </div>
    </form>
</div>
{% endblock corpo %}

{% block codigo %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
{% endblock codigo %}