{% extends 'base.html' %}

{% block titulo %}
    Propriedades
{% endblock titulo %}

{% block corpo %}
<h2 class="titulo">Cadastrar propriedade</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed-alert {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if not current_user.get_propriedade() %}
    <div class="cartao">
        <form class="formulario-interno" action="{{ url_for('propriedades_cadastro') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-wrapper">
                <div>
                    <label for="{{ form.nome.label.field_id }}">{{ form.nome.label.text }} *</label>
                    {% if form.nome.errors %}
                        {{ form.nome(class="input-error") }}
                        {% for error in form.nome.errors %}
                            <span class="span-erro">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.nome }}
                    {% endif %}
                </div>
                <div class="form-flex-desktop">
                    <div>
                        {{ form.endereco.label }}
                        {% if form.endereco.errors %}
                            {{ form.endereco(class="input-error") }}
                            {% for error in form.endereco.errors %}
                                <span class="span-erro">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.endereco }}
                        {% endif %}
                    </div>
                    <div>
                        <label for="area">Área: (m²)</label>
                        {% if form.area.errors %}
                            {{ form.area(class="input-error", placeholder="10.000") }}
                            {% for error in form.area.errors %}
                                <span class="span-erro">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.area(placeholder="10000") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.contato.label }}
                        {% if form.contato.errors %}
                            {{ form.contato(class="input-error") }}
                            {% for error in form.contato.errors %}
                                <span class="span-erro">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.contato }}
                        {% endif %}
                    </div>
                </div>
                
                <div class="cp-obrigatorio">
                    <p>* Campo obrigatório</p>
                </div>
                <button>{{ botao }}</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="cartao cartao-detalhes">
        <p class="detalhes-titulo">Você já registrou sua propriedade.</p>
    </div>
{% endif %}
    

{% endblock corpo %}