{% extends 'base.html' %}

{% block titulo %}
Propriedades
{% endblock titulo %}

{% block corpo %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flashed-alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if propriedades %}
        {% for propriedade in propriedades %}    
            <a href="{{ url_for('propriedades_detalhes', propriedade_id=propriedade.id) }}">
                <div class="cartao">
                    <h2 class="cartao-titulo">{{ propriedade.nome }}</h2>
                    <p class="cartao-endereco">{{ propriedade.endereco }}</p>
                    <p class="cartao-dica">Toque para ver mais informações</p>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div class="aviso-nulo">Nenhuma propriedade registrada no momento</div>
    {% endif %}

    <a href="{{ url_for('propriedades_cadastro') }}">
        <div class="botao verde texto-botao-branco">
            Cadastrar nova propriedade
        </div>
    </a>
{% endblock corpo %}